<%= render 'layouts/scr1' %>
<h1>О компании</h1>
<p class="pog" style="font-weight: bold; font-size: small">Электрокотельные, электродные водогрейные котлы, пульты управления электрокотельными, пульты управления электроводонагревателями, блок-контейнеры, паровые водонагреватели, модули по производству пара, урны для мусора, теплицы и парники - именно этим занимается ООО «титан-трейд» с 1997 года.<br><br>
Наша компания выполняет  полный спектр выполняемых работ:от проектирования электрокотельных, изготовления и поставки оборудования - до монтажа и сдачи объекта в эксплуатацию «под ключ».<br><br>
Осуществляем гарантийный ремонт с выездом к заказчику.
</p>
<br>
<%= image_tag("about-img.jpg", :size => "740x285", :alt => "Титан-трейд", :id => 'abim') %>