<p class="seo">О компании</p>

<p class="pog" style="font-size: small; line-height: 2;">Титан-трейд с 1997 года занимается производством и поставкой качественного и недорогого теплооборудования в любой регион нашей страны. <h2 style="font-size: 1em; text-align: justify; margin-left: -105px; margin-right: 25px;">У нас Вы всегда можете заказать <strong>электрические модульные котельные встраиваемого и блок-контейнерного типов</strong>, <strong>электрические котлы ЭПЗ и щиты для их управления</strong>, <strong>модули по производству пара</strong>, <strong>бытовки и модульные здания любых видов.</strong></h2></p>

<p class="pog">Наша компания выполняет полный спектр работ: от проектирования электрокотельных, изготовления и поставки оборудования - до монтажа и сдачи объекта в эксплуатацию «под ключ». 
<br><br>
Осуществляем гарантийный ремонт с выездом к заказчику.</p>
<br>
<%= image_tag("about-img.jpg", :size => "693x259", :alt => "Титан-трейд", :id => 'abim') %>