<%= render 'layouts/scr4' %>
<p class="seo">Контакты</p>
<p class="pog" style="font-size: small; line-height: 2.5;"><span class="bold">ООО «Титан-трейд»</span><br>
Наш адрес:   614004, г Пермь, ул. Карпинского 91а<br>
Email:  <a href="mailto:info@titan-traid.ru">info@titan-traid.ru</a><br>
Тел/факс: +7 (342) 277 09 55 Пермь<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+7 (499) 502 32 75 Москва<br><br>
Реквизиты:<br>
ОГРН  1025901209355<br>
ИНН   5905010847   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           КПП  590501001<br>
Код по ОКОНХ   80400   &nbsp;&nbsp;&nbsp;&nbsp;   Код  по  ОКПО   46773486<br><br>
</p>

