<%= render 'layouts/scr4' %>
<h1>Контакты</h1>
<p class="pog" style="font-size: small; line-height: 2.5;"><span class="bold">ООО «Титан-трейд»</span><br>
Наш адрес:   614004, г Пермь, ул. Карпинского 91а<br>
Email:  <a href="mailto:info@titan-traid.ru">info@titan-traid.ru</a><br>
Тел/факс: (342) 291 24 20 Пермь<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(906) 724 71 05 Москва<br><br>
Реквизиты:<br>
ОГРН  1025901209355<br>
ИНН   5905010847   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           КПП  590501001<br>
Код по ОКОНХ   80400   &nbsp;&nbsp;&nbsp;&nbsp;   Код  по  ОКПО   46773486<br><br>
БАНК СБРФ<br>
Расчётный  счёт &nbsp;&nbsp;&nbsp;&nbsp; №   40702810349490150626<br>
Дзержинское  отделение  № 6984  в Пермском  банке   СБРФ<br>
БИК    045773603   &nbsp;&nbsp;&nbsp;&nbsp;   Кор. Счёт  №   30101810900000000603<br><br>
БАНК  ОАО АКБ «Пермь»<br>
Расчётный  счёт &nbsp;&nbsp;&nbsp;&nbsp; №  40702810400000000774<br>
БИК   045773756   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Кор. Счёт №  30101810200000000756
</p>

