<p class="seo">Доставка и оплата</p>
<p class="pog" style="font-size: small; line-height: 2.5;">Доставка по городу Перми осуществляется бесплатно.<br>
<<<<<<< HEAD
Доставка в регионы - любой, удобной Вам, транспортной компанией (оговаривается при заказе).
=======
Доставка в регионы - любой, удобной Вам, транспортной компанией. (оговаривается при заказе)
>>>>>>> 1a4f60eab95d6c04a952cc39af403b28f76092df
<br><br>
Банковские реквизиты<br>
СБЕРБАНК РФ<br>
Расчётный счёт   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   № 40702810349490150626<br>
Дзержинское отделение № 6984 в Пермском банке СБРФ<br>
БИК 045773603 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Кор. Счёт № 30101810900000000603<br>
<<<<<<< HEAD
<br>
=======
<br><br>
>>>>>>> 1a4f60eab95d6c04a952cc39af403b28f76092df
БАНК ОАО АКБ «Пермь»<br>
Расчётный счёт   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   № 40702810400000000774<br>
БИК 045773756    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      Кор. Счёт № 30101810200000000756</p>
