* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

div {
	display: block;
	}

.container {
  width: 980px;
  height: 1200px;
  min-height: 100%;
  position: relative;
}

nav.menu  {
	background-image: url(head.png);
	height: 151px;
	white-space: nowrap;
	margin-top: -20px;
}

nav.menu ul {
  padding-left: 360px;
}

nav.menu ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li.ss {
  list-style-type: none;
  display: inline-block;
  border-bottom: 0 solid RGB(255, 204, 66);
  margin: 120px 2px;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 0 solid RGB(255, 204, 66);
}

a:hover {
  color: white;
  color: RGB(255, 204, 66);
  text-decoration: none;
}

.left-block  {
	float: left;
	margin-top: -100px;
	margin-left: 15px;
	height: 820px;
	width: 200px;
	background-color: RGB(130, 178, 232);
}

.orange  {
	margin-left: 180px;
	margin-top: -30px;
	height: 135px;
	width: 170px;
	background-color: RGB(255, 204, 66);
}

.name  {
	margin-left: 370px;
	margin-top: -90px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 100px; 
}

h1 {
	color: RGB(255, 204, 66);
	height: 100px;
}

.im {
	margin-left: 500px;
	background-image: url(up.png);
	height: 100px;
	width: 323px;
	white-space: nowrap;
	margin-top: -83px;
}

nav ul.list {
	padding-top: 150px;
	padding-left: 18px;
}

nav ul li.list {
  display: block;
  padding: 8px 2px;
  color: #fff;
  text-decoration: underline;
}

.tov {	
  padding: 7px 15px;
  color: #fff;
}

.hide {
	padding-left: 12px;
	color: white;
}

.n {
	padding-left: 12px;
	color: white;
}

h5 {
	padding-left: 1px;
	color: white;
	font-weight: normal;
}

div.tovar {
	margin-left: -110px;
	width: 500px;
}

.img {
	float: left;
	margin: 7px 20px 7px 0;
}

table {
	position: relative;
	width: 600px;
}

td.block {
	background-color: RGB(255, 255, 255);
	border: 10px solid white;
	text-align: center;
	font-size: large;
}

.block a {color: black;}
.block a:hover {color: RGB(255, 204, 66);}

.limit {
	width: 700px;
}

.foot {
	height: 243px;
	width: 980px;
	margin: -100px auto 0;
	position: relative;
}

#foot {
	height: 2px;
	background-color: RGB(196, 196, 196);
}

#foot0 {
	height: 140px;
	background-color: RGB(238, 238, 238);
}

#foot1 {
	height: 100px;
	background-color: RGB(130, 178, 232);
}

#dscr {
	width: 700px;
	text-align: justify;
}

.niz {
	padding-left: 500px;
	padding-top: 10px;
	font-size: large;
}

.cop {
	padding-left: 100px;
	font-size: medium;
	color: white;
}

.adres {
	color: RGB(93, 90, 90);
	padding-left: 650px;
	padding-top: 40px;
	font-weight: bold;
	line-height: 1.3;
	position: absolute;
}

.picture#ind {
	white-space: nowrap;
	background-image: url(ind.png);
	background-size: cover;
	position: absolute;
	margin-top: -200px;
	height: 370px;
	width: 370px;
}

.picture#about {
	white-space: nowrap;
	background-image: url(about.png);
	background-size: cover;
	position: absolute;
	margin-top: -225px;
	height: 370px;
	width: 370px;
	opacity: 0;
}

.picture#sert {
	white-space: nowrap;
	background-image: url(sert.png);
	background-size: cover;
	position: absolute;
	margin-top: -220px;
	margin-left: -20px;
	height: 370px;
	width: 370px;
	opacity: 0;
}

.picture#pay {
	white-space: nowrap;
	background-image: url(pay.png);
	background-size: cover;
	position: absolute;
	margin-top: -200px;
	height: 370px;
	width: 370px;
	opacity: 0;
}

.picture#cont {
	white-space: nowrap;
	background-image: url(cont.png);
	background-size: cover;
	position: absolute;
	margin-top: -230px;
	margin-left: -15px;
	height: 370px;
	width: 370px;
	opacity: 0;
}

.picture#map {
	white-space: nowrap;
	background-image: url(map.png);
	background-size: cover;
	position: absolute;
	margin-top: -200px;
	height: 370px;
	width: 370px;
	opacity: 0;
}

.up#s {
	white-space: nowrap;
	background-image: url(ups.png);
	background-size: cover;
	position: absolute;
	height: 85px;
	width: 85px;
	margin-top: -100px;
}

.up#a {
	white-space: nowrap;
	background-image: url(upa.png);
	background-size: cover;
	position: absolute;
	height: 85px;
	width: 85px;
	margin-top: -100px;
	opacity: 0;
}

nav.men {

}


nav.men a {
	color: RGB(137, 151, 164);
}

nav.men a:hover {
	color: RGB(93, 90, 90);
}

nav.men ul li {
  list-style-type: none;
  display: block;
}

nav.men ul li {
  list-style-type: none;
  display: block;
}

.menbot {
	height: 115px;
	position: absolute;
	margin-left: 100px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	color: RGB(137, 151, 164);
	margin-top: 15px;
}


.menbot1 {
	height: 115px;
	position: absolute;
	margin-left: 235px;
	border-right: 1px solid gray;
	color: RGB(137, 151, 164);
	margin-top: 15px;
}

.search {
	background-color: RGB(125, 201, 255);
	position: absolute;
	margin-left: 781px;
	margin-top: -81px;
	height: 70px;
	width: 185px;
}

#search_field {
	margin-left: 68px;
	margin-top: -18px;
	position: absolute;
	width: 100px;
	height: 20px;
}

.srch {
	white-space: nowrap;
	position: absolute;
	width: 43px;
	height: 53px;
	background-image: url(srch.png);
	background-size: cover;
	margin-left: 10px;
	margin-top: 10px;
}

p.s {
	color: white;
	margin-left: 83px;
	margin-top: 9px;
	font-size: medium;
}