<script>
  		$(function() {

  		$("td").children("a").mouseover(function(){
          $(this).parent("td").animate({ backgroundColor: "RGB(199, 199, 199)"}, 300 );
          $(this).parent("td").dequeue('fx');
          });

         $("td").children("a").mouseout(function(){
          $(this).parent("td").animate({ backgroundColor: "RGB(255, 255, 255)"}, 290 );
          $(this).parent("td").dequeue('fx');
          });	
        });
        
</script>

<p class="seo">Поиск по "<%= params[:search] %>"</p>
<div class="tovar" id="tov">
  <div class="limit">
	<table>
		<% @products.in_groups_of(3, false) do |product_group| %>
	<tr>
        <% product_group.each do |product| %>
        <td class="block" style="background-color: white">
            <%= link_to product do %>
            <%= image_tag("#{ product.avatar.url }", :size => "192x192", :alt => "#{product.name}.jpg") %>
            <% end %><br>
            <%= product.name %>
        </td>
        <% end %>
    </tr>
        <% end %>
 	</table>
</div>
</div>