<div class="niz">
	<%= link_to "Обратная связь", back_path %>
</div>

<div class="cop">
	Copyright &#169 2013 <font size="5">|</font> Титан-трейд
</div>

<div class="avtor">Разработка сайта: spiritd@yandex.ru</div>