<a href="http://metrika.yandex.ru/stat/?id=19435087&amp;from=informer"
target="_blank" rel="nofollow"><img class="metrika" src="//bs.yandex.ru/informer/19435087/3_0_FFFFFFFF_FFFFFFFF_0_pageviews" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:19435087,lang:'ru'});return false}catch(e){}"/></a>
<!-- Pulscen award_widget --><div style="position: absolute; margin-top: 31px; margin-left: 742px; text-align: center; line-height: 1;"> <span style="width: 132px; display: inline-block; //display: inline;"> <a href="http://www.gs2013.pulscen.ru/nominant" title="Номинант премии &laquo;Железная Сотня 2013&raquo;" target="_blank"><img src="http://static.pulscen.ru/images/awards/nominee2013.png" width="132" height="30" style="display: block;" alt="Номинант премии &laquo;Железная Сотня 2013&raquo;" /></a> <a href="http://msk.pulscen.ru"><span style="display: block; height: 1px; margin: -2px 0 2px; //width: 132px;"></span></a> </span>
</div><!-- Pulscen award_widget -->
<br><br>
<div class="cop">
	Copyright &#169 2013 <font size="5">|</font> Модульные котельные
</div>

<div class="avtor">Разработка сайта: &nbsp; <a href="mailto:spiritd@yandex.ru" style="font-size: small">spiritd@yandex.ru<br></a></div>

<noscript><div><img src="//mc.yandex.ru/watch/19435087" alt="" /></div></noscript>