<a href="http://metrika.yandex.ru/stat/?id=19435087&amp;from=informer"
target="_blank" rel="nofollow"><img class="metrika" src="//bs.yandex.ru/informer/19435087/3_0_FFFFFFFF_FFFFFFFF_0_pageviews" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:19435087,lang:'ru'});return false}catch(e){}"/></a>

<br><br>
<div class="cop">
	Copyright &#169 2013 <font size="5">|</font> Модульные котельные
</div>

<div class="avtor">Разработка сайта: &nbsp; <a href="mailto:spiritd@yandex.ru" style="font-size: small">spiritd@yandex.ru<br></a></div>

<noscript><div><img src="//mc.yandex.ru/watch/19435087" alt="" /></div></noscript>