<div class="niz">
	<%= link_to "Лицензия", lic_path %>&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to "Обратная связь", back_path %>
</div>

<div class="cop">
	Copyright &#169 2012 <font size="5">|</font> Титан-трейд
</div>
